.notfound-container {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.job-image{
    width: 450px;
}

.failure-heading{
    margin: 0px;
    font-family: Roboto;
    font-size: 35px;
    color: #000000;
}

.failure-description{
    font-family: Roboto;
    font-size: 22px;
    color: #000000;
}